#page-feed {
    width: 100vw;
    height: 100vh;
}

/*
*HEAD
*HEAD
*HEAD
*HEAD
*HEAD
*/

#head {
    width: 100vw;
    height: 12vh;
    background-color: #EFEFEF;
    display: flex;
    flex: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.logopiu {
    height: 5rem;
    margin-left: 2rem;
}

.perfil {
    margin-right: 2rem;
}


.search {
    display: flex;
    justify-content: space-between;
    width: 50rem;
    height: 5rem;
    background-color: white;
    border-radius: 1rem;
    margin-left: 12rem;
}

.find {
    margin-left: 1rem;
    width: 40rem;
}

.lupa {
    margin-top:0.5rem;
    margin-right: 1rem;
    height: 4rem;
}

.trendingtopics img {
    margin: 1rem;
    
}

/*
*UNDERHEAD
*UNDERHEAD
*UNDERHEAD
*UNDERHEAD
*UNDERHEAD
*/

#underhead-feed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
*Right
*Right
*Right
*/

#right-feed {

    width: 30vw;
    height: 88vh;
    position: absolute;
    right:0rem; 
    top: 12vh;
    position: fixed;
    
}

#penafeed {
    height: 5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;

}

#boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#subject {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15rem;
    border: 3px solid var(--red-default);
    width: 60%;
    height: 30rem;
    border-radius: 2rem;

}

#subject-box {
    margin: 3rem;
}

/*
*Middle
*Middle
*Middle
*/

#middle-feed {
    width: 55vw;
    height: 100%;
    position: absolute;
    right: 30vw;
    left: 20vw;
    top: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;  
     
}

.perfilrandomimg {

    object-fit: cover;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

#everypiu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top:5rem;
    border: 1px solid;
    width: 80%;
    height: 100%;
    
}

#pius {
    margin-top: 5rem;
    border: 1px solid;
    width: 90%;
}

#mypiu {
    display:flex;
    flex-direction: column;
    border: 1px solid;
}

.principal{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
}

#questionpiu {
    margin-right:45%;

}

#yourarroba {
    margin-right: 1rem;
    margin-top: 5rem;

}

.principal img{
    margin: 1rem;
}

.text {
    display:flex;
    flex-direction: column;
    height: 16rem;
}

.text button {
    width: 10rem;
    height: 5rem;
    margin-left: 82%;
    margin-top: 4rem;
   
}

.text textarea {
    width: 95%;
    border:none;
    resize: none;
    outline: none;
    margin-left: 1rem;
    margin-top: 1rem;
}

#greybar {
    width: 100%;
    height: 2rem;
    background-color: var(--grey-dim);
    border:none;
}

#otherpius{
    display: flex;
    flex-direction: column;
}

.name {
    margin-right: 55%;
}

.arroba {
    margin-right: 1rem;
    margin-top: 4rem;
}

.piuanswer {
    height: 10rem;
    margin:1rem;
}

.reactions {
    display: flex;
    margin: 1rem;
}

.reactions img {
    margin-right: 1rem;
}

.replie {
    display:flex;
    margin-right: 2rem;
}



.repiu {
    display:flex;
    margin-right: 2rem;
}

.like {
    display:flex;

}
/*
*Left
*Left
*Left
*/

#left-feed {
    width: 20vw;
    height: 88vh;
    position: absolute;
    left:0rem; 
    top: 12vh;
    border: 0.1rem solid ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
}

.tools {
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.1rem solid ;
}

.tools img {
    margin-right: 3rem;
}

.icontext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

#writepiu {
    margin-bottom: 10rem;
    height: 10rem;
    width: 26rem;
    background-color: var(--red-default);
    border:0.1rem solid; 
    border-radius: 2rem;
    

}
