#page-feed {
    width: 100vw;
    height: 100vh;
}

/*
*UNDERHEAD
*UNDERHEAD
*UNDERHEAD
*UNDERHEAD
*UNDERHEAD
*/

#underhead-feed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header {
   z-index:1;
   position: fixed;
}

.input {
    width: 40rem;
    position: relative;
    left: 77rem;
    bottom: 7.5rem;
}

/* export const SearchWrapper = styled.div`
  display: flex;
  justify-content: space-between;
  width: 50rem;
  height: 5rem;
  background-color: white;
  border-radius: 1rem;
  margin-left: 12rem;
`;


export const LupaIcon = styled.img`
  margin-top: 0.5rem;
  margin-right: 1rem;
  height: 4rem;
`; */
/*
*Middle
*Middle
*Middle
*/

#middle-feed {
    width: 55vw;
    height: 100%;
    position: absolute;
    right: 30vw;
    left: 20vw;
    top: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;  
}

#everypiu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top:5rem;
    width: 80%;
    height: 100%;
    
}

#pius {
    margin-top: 5rem;
    border: 1px solid;
    width: 90%;
}

#greybar {
    width: 100%;
    height: 2rem;
    background-color: var(--grey-dim);
    border:none;
}

